
{{include file=$this->pagehead}}
{{include file='menu.php'}}
<body>
<TABLE width='900'  border='0' align='center'>
<TR><TD align=center><b>成績記錄表</b></TD></TR>
<TR><TD align=right>{{$this->links->show_page()}}</TD></TR>
</TABLE>
<table  width='900'  border='0' align='center' cellpadding='1' cellspacing='1' bgcolor='#DEE3E7' style='table-layout: fixed;word-wrap:break-word;font-size:10pt'>
<TR align=center  style='font-size:11pt' bgcolor='#E5E5E5'>
<TD width=5%><b>ID</b></TD>
<TD width=15%><b>比賽項目</b></TD>
<TD width=4%><b>領隊</b></TD>
<TD width=6%><b>組別<br>(接力)</b></TD>
<TD width=5%><b>kend</b></TD>
<TD width=5%><b>類別</b></TD>
<TD><b>姓名</b></TD>
<TD><b>班級座號</b></TD>
<TD><b>運動員<br>編號</b></TD>
<TD width=5%><b>名次num</b></TD>
<TD><b>成績</b></TD>
<TD width=4%><b>順序<br>道次</b></TD>
<TD><b>備註</b></TD>
<TD width=4%><b>通過</b></TD>
<TD>編修/<a href='{{$smarty.server.PHP_SELF}}?act=add_form'>新增</a></TD></TR>
{{if $smarty.get.act=='add_form' }}
<!-- 新增表單   ---開始-->
<tr align=center><td colspan=17>
<FORM METHOD=POST ACTION='{{$smarty.server.PHP_SELF}}' Name='e1' enctype='multipart/form-data'>
<table>
<TR><TD>ID</TD><TD><INPUT TYPE='text' NAME='id' value='' size=20></TD></TR>
<TR><TD>主項</TD><TD><INPUT TYPE='text' NAME='mid' value='' size=20></TD></TR>
<TR><TD>比賽項目</TD><TD><INPUT TYPE='text' NAME='itemid' value='' size=20></TD></TR>
<TR><TD>領隊</TD><TD><INPUT TYPE='text' NAME='kmaster' value='' size=20></TD></TR>
<TR><TD>組別(接力)</TD><TD><INPUT TYPE='text' NAME='kgp' value='' size=20></TD></TR>
<TR><TD>kend</TD><TD><INPUT TYPE='text' NAME='kend' value='' size=20></TD></TR>
<TR><TD>學號</TD><TD><INPUT TYPE='text' NAME='stud_id' value='' size=20></TD></TR>
<TR><TD>類別</TD><TD><INPUT TYPE='text' NAME='sportkind' value='' size=20></TD></TR>
<TR><TD>姓名</TD><TD><INPUT TYPE='text' NAME='cname' value='' size=20></TD></TR>
<TR><TD>班級座號</TD><TD><INPUT TYPE='text' NAME='idclass' value='' size=20></TD></TR>
<TR><TD>運動員編號</TD><TD><INPUT TYPE='text' NAME='sportnum' value='' size=20></TD></TR>
<TR><TD>num</TD><TD><INPUT TYPE='text' NAME='num' value='' size=20></TD></TR>
<TR><TD>成績</TD><TD><INPUT TYPE='text' NAME='results' value='' size=20></TD></TR>
<TR><TD>順序/道次</TD><TD><INPUT TYPE='text' NAME='sportorder' value='' size=20></TD></TR>
<TR><TD>備註</TD><TD><INPUT TYPE='text' NAME='memo' value='' size=20></TD></TR>
<TR><TD>通過</TD><TD><INPUT TYPE='text' NAME='passOK' value='' size=20></TD></TR>
<TR><td colspan=2 align=center>
<INPUT TYPE='hidden' Name='form_act' value=''>
<INPUT TYPE='hidden' Name='page' Value='{{$this->page}}'>
<INPUT TYPE='reset' Value='重新設定' class=bur2 >
<INPUT TYPE='button' value='填好送出' onclick="if( window.confirm('要寫入了喔？確定？')){this.form.form_act.value='add';this.form.submit()}">
<INPUT TYPE='button' value='取消返回' onclick="history.back();" class=bur2>
</td></tr>
</table>
</FORM>
</td></tr>
<!-- 新增表單   ---結束-->
{{else}}
{{foreach from=$this->all item=arr}}
{{if $smarty.get.edit==$arr.id}}
<!-- 編修表單   ---開始-->
<tr align=center><td colspan='17'>
<FORM METHOD=POST ACTION='{{$smarty.server.PHP_SELF}}'  Name='e1' enctype='multipart/form-data'>
<table>
<TR><TD>ID</TD><TD>{{$arr.id}}<INPUT TYPE='hidden' NAME='id' value='{{$arr.id}}'></TD></TR>
<TR><TD>主項</TD><TD><INPUT TYPE='text' NAME='mid' value='{{$arr.mid}}' size=20></TD></TR>
<TR><TD>比賽項目</TD><TD><INPUT TYPE='text' NAME='itemid' value='{{$arr.itemid}}' size=20></TD></TR>
<TR><TD>領隊</TD><TD><INPUT TYPE='text' NAME='kmaster' value='{{$arr.kmaster}}' size=20></TD></TR>
<TR><TD>組別(接力)</TD><TD><INPUT TYPE='text' NAME='kgp' value='{{$arr.kgp}}' size=20></TD></TR>
<TR><TD>kend</TD><TD><INPUT TYPE='text' NAME='kend' value='{{$arr.kend}}' size=20></TD></TR>
<TR><TD>學號</TD><TD><INPUT TYPE='text' NAME='stud_id' value='{{$arr.stud_id}}' size=20></TD></TR>
<TR><TD>類別</TD><TD><INPUT TYPE='text' NAME='sportkind' value='{{$arr.sportkind}}' size=20></TD></TR>
<TR><TD>姓名</TD><TD><INPUT TYPE='text' NAME='cname' value='{{$arr.cname}}' size=20></TD></TR>
<TR><TD>班級座號</TD><TD><INPUT TYPE='text' NAME='idclass' value='{{$arr.idclass}}' size=20></TD></TR>
<TR><TD>運動員編號</TD><TD><INPUT TYPE='text' NAME='sportnum' value='{{$arr.sportnum}}' size=20></TD></TR>
<TR><TD>num</TD><TD><INPUT TYPE='text' NAME='num' value='{{$arr.num}}' size=20></TD></TR>
<TR><TD>成績</TD><TD><INPUT TYPE='text' NAME='results' value='{{$arr.results}}' size=20></TD></TR>
<TR><TD>順序/道次</TD><TD><INPUT TYPE='text' NAME='sportorder' value='{{$arr.sportorder}}' size=20></TD></TR>
<TR><TD>備註</TD><TD><INPUT TYPE='text' NAME='memo' value='{{$arr.memo}}' size=20></TD></TR>
<TR><TD>通過</TD><TD><INPUT TYPE='text' NAME='passOK' value='{{$arr.passOK}}' size=20></TD></TR>
<tr><td colspan=2 align=center>
<INPUT TYPE='hidden' Name='form_act'  value=''>
<INPUT TYPE='hidden' Name='page' Value='{{$this->page}}'>
<INPUT TYPE='reset' Value='重新設定' class=bur2 >
<INPUT TYPE='button' value='填好送出' onclick="if( window.confirm('要寫入了喔？確定？')){this.form.form_act.value='update';this.form.submit()}">
<INPUT TYPE='button' value='取消返回' onclick="history.back();" class=bur2>
</td></tr>
</table>
</FORM>
</td></tr>
<!-- 編修表單結束 -->

<!-- 流覽資料  -->
{{else}}
<tr align=center bgcolor='#FFFFFF' onmouseover="Mover(this)" onmouseout="Mout(this)">
<TD>{{$arr.mid}}.{{$arr.id}}</TD>
<TD>{{$arr.itemid}}.{{$this->Im[$arr.itemid].A}}</TD>
<TD>{{$arr.kmaster}}</TD>
<TD>{{$arr.kgp}}</TD>
<TD>{{$arr.kend}}</TD>
<TD>{{$arr.sportkind}}</TD>
<TD>{{$arr.cname}}</TD>
<TD>{{$arr.idclass}}</TD>
<TD>{{$arr.sportnum}}</TD>
<TD>{{$arr.num}}</TD>
<TD>{{$arr.results}}</TD>
<TD>{{$arr.sportorder}}</TD>
<TD>{{$arr.memo}}</TD>
<TD>{{$arr.passOK}}</TD>
<td><a href='{{$smarty.server.PHP_SELF}}?edit={{$arr.id}}&page={{$this->page}}'>修改</a>
<a href='#' onclick="if( window.confirm('真的刪除嗎？確定？')){d1.id.value='{{$arr.id}}';d1.form_act.value='del';d1.submit();}">刪除</a>
</td></tr>
{{/if}}
{{/foreach}}
{{/if}}
</table>
<FORM METHOD=POST ACTION='{{$smarty.server.SCRIPT_NAME}}' Name='d1' >
<INPUT TYPE='hidden' Name='form_act'  value=''>
<INPUT TYPE='hidden' Name='id'  value=''>
<input type='hidden' name='token' value='{{$this->token}}'>
<input type='hidden' name='page' value='{{$this->page}}'>
</FORM>

{{include file=$this->pagefoot}}
