{{include file=$this->pagehead}}
{{include file='menu.php'}}
<body>
<TABLE width='800'  border='0' align='center'>
<TR><TD align=right>{{$this->links->show_page()}}</TD></TR>
</TABLE>
<table  width='800'  border='0' align='center' cellpadding='1' cellspacing='1' bgcolor='#DEE3E7' style='table-layout: fixed;word-wrap:break-word;font-size:10pt'>
<TR align=center  style='font-size:11pt' bgcolor='#E5E5E5'>
<TD width=6%><b>流水號</b></TD>
<TD width=8%><b>姓名</b></TD>
<TD width=4%><b>性別</b></TD>
<TD width=8%><b>處室</b></TD>
<TD width=12%><b>職稱</b></TD>
<TD width=15%><b>學籍帳號</b></TD>
<TD width=10%><b>權限</b></TD>
<TD width=6%><b>班級</b></TD>
<TD><b>變更時間</b></TD>
<TD width=12%>編修/<a href='{{$smarty.server.SCRIPT_NAME}}?act=add_form'>新增</a></TD></TR>
{{if $smarty.get.act=='add_form' }}
<!-- 新增表單   ---開始-->
<tr align=center><td colspan=12>
<FORM METHOD=POST ACTION='{{$smarty.server.SCRIPT_NAME}}' Name='e1' enctype='multipart/form-data'>
<table>
<TR><TD>流水號</TD><TD><INPUT TYPE='text' NAME='id' value='' size=20></TD></TR>
<TR><TD>姓名</TD><TD><INPUT TYPE='text' NAME='tname' value='' size=20></TD></TR>
<TR><TD>性別</TD><TD><INPUT TYPE='text' NAME='sex' value='' size=20></TD></TR>
<TR><TD>處室</TD><TD><INPUT TYPE='text' NAME='office' value='' size=20></TD></TR>
<TR><TD>職稱</TD><TD><INPUT TYPE='text' NAME='title' value='' size=20></TD></TR>
<TR><TD>帳號</TD><TD><INPUT TYPE='text' NAME='user' value='' size=20></TD></TR>
<TR><TD>密碼</TD><TD><INPUT TYPE='text' NAME='pass' value='' size=20></TD></TR>
<TR><TD>班級</TD><TD><INPUT TYPE='text' NAME='cla' value='' size=20></TD></TR>
<TR><TD>編碼</TD><TD><INPUT TYPE='text' NAME='edukey' value='' size=20></TD></TR>
<TR><TD>建立時間</TD><TD><INPUT TYPE='text' NAME='created' value='' size=20></TD></TR>
<TR><TD>變更時間</TD><TD><INPUT TYPE='text' NAME='modify' value='' size=20></TD></TR>
<TR><td colspan=2 align=center>
<INPUT TYPE='hidden' Name='form_act' value=''>
<INPUT TYPE='hidden' Name='page' Value='{{$this->page}}'>
<input type='hidden' name='token' value='{{$this->token}}'>
<INPUT TYPE='reset' Value='重新設定' class=bur2 >
<INPUT TYPE='button' value='填好送出' onclick="if( window.confirm('要寫入了喔？確定？')){this.form.form_act.value='add';this.form.submit()}">
<INPUT TYPE='button' value='取消返回' onclick="history.back();" class=bur2>
</td></tr>
</table>
</FORM>
</td></tr>
<!-- 新增表單   ---結束-->
{{else}}
{{foreach from=$this->all item=arr}}
{{if $smarty.get.edit==$arr.id}}
<!-- 編修表單   ---開始-->
<tr align=center><td colspan='12'>
<FORM METHOD=POST ACTION='{{$smarty.server.PHP_SELF}}'  Name='e1' enctype='multipart/form-data'>
<table>
<TR><TD>流水號</TD><TD>{{$arr.id}}<INPUT TYPE='hidden' NAME='id' value='{{$arr.id}}'></TD></TR>
<TR><TD>姓名</TD><TD><INPUT TYPE='text' NAME='tname' value='{{$arr.tname}}' size=20></TD></TR>
<TR><TD>性別</TD><TD><INPUT TYPE='text' NAME='sex' value='{{$arr.sex}}' size=20></TD></TR>
<TR><TD>處室</TD><TD><INPUT TYPE='text' NAME='office' value='{{$arr.office}}' size=20></TD></TR>
<TR><TD>職稱</TD><TD><INPUT TYPE='text' NAME='title' value='{{$arr.title}}' size=20></TD></TR>
<TR><TD>帳號</TD><TD><INPUT TYPE='text' NAME='user' value='{{$arr.user}}' size=20></TD></TR>
<TR><TD>密碼</TD><TD><INPUT TYPE='text' NAME='pass' value='{{$arr.pass}}' size=20></TD></TR>
<TR><TD>權限</TD><TD>{{ckBox('prem',$this->prem,4,$arr.prem)}}
<INPUT TYPE='hidden' NAME='permA' value='{{$arr.perm}}' size=20></TD></TR>
<TR><TD>班級</TD><TD><INPUT TYPE='text' NAME='cla' value='{{$arr.cla}}' size=20></TD></TR>
<TR><TD>編碼</TD><TD><INPUT TYPE='text' NAME='edukey' value='{{$arr.edukey}}' size=20 readonly></TD></TR>
<TR><TD>建立時間</TD><TD>{{$arr.created}}</TD></TR>
<TR><TD>異動時間</TD><TD>{{$arr.modify}}</TD></TR>
<tr><td colspan=2 align=center>
<INPUT TYPE='hidden' Name='form_act'  value=''>
<input type='hidden' name='token' value='{{$this->token}}'>
<INPUT TYPE='hidden' Name='page' Value='{{$this->page}}'>
<INPUT TYPE='reset' Value='重新設定' class=bur2 >
<INPUT TYPE='button' value='填好送出' onclick="if( window.confirm('要寫入了喔？確定？')){this.form.form_act.value='update';this.form.submit()}">
<INPUT TYPE='button' value='取消返回' onclick="history.back();" class=bur2>
</td></tr>
</table>
</FORM>
</td></tr>
<!-- 編修表單結束 -->

<!-- 流覽資料  -->
{{else}}
<tr align=center bgcolor='#FFFFFF' onmouseover="Mover(this)" onmouseout="Mout(this)">
<TD>{{$arr.id}}</TD>
<TD>{{$arr.tname}}</TD>
<TD>{{$arr.sex}}</TD>
<TD>{{$arr.office}}</TD>
<TD>{{$arr.title}}</TD>
<TD>{{$arr.user}}</TD>
<TD style="color:red">{{$arr.prem}}</TD>
<TD>{{$arr.cla}}</TD>
<TD>{{$arr.modify}}</TD>
<td>
<a href='#' onclick="if ( window.confirm('真的切換嗎？')){d1.id.value='{{$arr.id}}';d1.form_act.value='Switch';d1.submit();}">
切換</a>	
<a href='{{$smarty.server.SCRIPT_NAME}}?edit={{$arr.id}}&page={{$this->page}}'>修改</a>
<a href='#' onclick="if ( window.confirm('真的刪除嗎？')){d1.id.value='{{$arr.id}}';d1.form_act.value='del';d1.submit();}">
刪除</a>
</td></tr>
{{/if}}
{{/foreach}}
{{/if}}
</table>

<FORM METHOD=POST ACTION='{{$smarty.server.SCRIPT_NAME}}'  Name='d1'>
<INPUT TYPE='hidden' Name='form_act'  value=''>
<INPUT TYPE='hidden' Name='id'  value=''>
<INPUT TYPE='hidden' Name='page' Value='{{$this->page}}'>
<input type='hidden' name='token' value='{{$this->token}}'>
</FORM>

{{include file=$this->pagefoot}}
